@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --white: #fff;
  --btn_color_orange: #FF6D25;
  --color_gray: #f4f4f4;
}

// *{
//   padding: 0;
//   margin: 0;
// }

// html {
//   font-size: 62.5%;
// }

// body {
//   // font-family: 'Montserrat', sans-serif;
//   // font-size: 1.6rem;
//   margin: 0;
//   font-family: Helvetica, Arial, Roboto, sans-serif;
//   font-size: 0.875rem;
//   font-weight: 400;
//   line-height: 1.5;
//   color: #222;
//   background-color: #f4f4f4;
//   text-align: left;
//   -webkit-text-size-adjust: 100%;
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
// }

.btn{
  background-color: var(--btn_color_orange) !important;
  color: var(--white) !important;
  border-radius: 4px !important;
  font-size: 1.2rem !important;
  font-weight: bold;
}