@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
  --white: #fff;
  --btn_color_orange: #ff6d25;
  --color_gray: #f4f4f4;
  --scroll: #b7b7b7;
  --width-browser: 1080px;
  --bgDot: rgb(155, 155, 155);
  --height_header: 68px;
  --width_sidebar: 260px;
  --background_hover: #ececec;
}

a {
  text-decoration: none;
}

// *{
//   padding: 0;
//   margin: 0;
// }

// html {
//   font-size: 62.5%;
// }

// body {
//   // font-family: 'Montserrat', sans-serif;
//   // font-size: 1.6rem;
//   margin: 0;
//   font-family: Helvetica, Arial, Roboto, sans-serif;
//   font-size: 0.875rem;
//   font-weight: 400;
//   line-height: 1.5;
//   color: #222;
//   background-color: #f4f4f4;
//   text-align: left;
//   -webkit-text-size-adjust: 100%;
//   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
// }

.btn {
  background-color: var(--btn_color_orange) !important;
  color: var(--white) !important;
  border-radius: 4px !important;
  font-size: 16px !important;
  font-weight: bold;
  & a {
    color: var(--white) !important;
  }
}
