.sidebar {
  width: var(--width_sidebar);
  height: 100%;
  position: fixed;
  top: 0;
  // z-index: 1000;
  // background: rgb(226, 216, 216);
  background: rgb(119, 114, 114);
}

.sidebar_scrollbar {
  overflow: hidden;
  outline: none;
  // margin-top: 15px;
  height: 100vh;
  & ul {
    list-style-type: none;
  }
  & > nav > ul {
    padding: 0;
  }
  & > nav > ul > li span {
    // color: #16bfc6;
    color: #fff;
  }
  & > nav > ul > li > p {
    padding: 12px;
    margin: 0;
  }
  & > nav > ul > li > a {
    padding: 12px 0 12px 18px;
    width: 100%;

    // width: calc(100% - 24px);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin: 0;
  }
  & > nav > ul > li > a:hover {
    background-color: rgb(169, 158, 138);
  }

  & > nav > ul > li > p {
    padding: 12px;
    margin: 0;
  }

  & svg {
    width: 26px;
    height: 26px;
    margin-right: 6px;
  }
  & span {
    font-size: 16px;
  }
}
