.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 8px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid hsla(0, 0%, 61%, 0.7);
  }
  .filter_span {
    display: inline-block;
    margin-right: 5px;
    width: 14px;
    height: 14px;
    background-image: url(https://static.chotot.com/storage/chotot-icons/svg/filter-dynamic.svg);
    background-repeat: no-repeat;
    background-size: 14px 14px;
  }
  