.header {
  height: var(--height_header);
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  margin: auto !important;
  & a {
    height: 100%;
    margin: 0 8px;
    padding: 0 8px;
    text-decoration: none;
  }
}
.item {
  &:hover {
    opacity: 0.6;
  }
  display: flex;
  align-items: center;
  // margin: -10px 6px;
  height: 100%;
  cursor: pointer;
  color: #222222;
  & p {
    font-size: 16px;
  }
}
.account {
  display: flex;
  color: #222222;
}

.icon {
  // display: inline-block;
  // padding: auto 0;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  & .css-i4bv87-MuiSvgIcon-root {
    width: 1.5em;
  }
  & svg {
    width: 1.2em;
  }
}

.item_icon {
  vertical-align: middle;
  display: table-cell !important;
  height: 38px !important;
  padding: 0;
  margin-right: 8px;
}
