.header {
  height: 52px;
  max-width: 960px;
  display: flex;
  justify-content: space-between;
  margin: auto !important;
}
.item {
  &:hover {
    opacity: 0.6;
  }
  display: flex;
  margin: -10px 6px;
  cursor: pointer;
  color: #222222;
}
a {
  text-decoration: none;
}
.account {
  display: flex;
  color: #222222;
}

.icon {
  display: inline-block;
  padding: auto 0;
}

.item_icon {
  vertical-align: middle;
  display: table-cell !important;
  height: 100% !important;
  padding: 0;
  margin-right: 8px;
}
