.btnActive {
  background-color: #ffe9c2;
  color: #f80 !important;
}
.img {
  border-radius: 50%;
  width: 48px;
  height: 48px;
  margin: 0 12px 0 5px;
}

.messageList {
  & a {
    margin: 0;
    padding: 0;
  }
}
.messageHost {
  list-style-type: none;
  margin-bottom: 12px;
}
.messageRenter {
  list-style-type: none;
  margin-bottom: 12px;
}
.name {
  color: #000000;
  font-weight: 600;
  font-size: 14px;
}
.messageTime {
  font-size: 1rem;
}
.messageActive {
  background-color: #ececec;
}
.messageItem {
  display: flex;
  border-bottom: 1px solid #ececec;
  padding: 10px 7px !important;
  cursor: pointer;
  &:hover {
    background-color: #ececec;
  }
  & input {
    z-index: 9999;
    width: 20px;
    cursor: pointer;
  }
}
.title {
  font-weight: 700;
  font-size: 13px;
  margin: 4px 0;
  max-width: 260px;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* số dòng hiển thị */
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #9b9b9b;
}

.content {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #9b9b9b;
  font-size: 14px;
  min-height: 14px;
  margin: 4px 0;
}

.operatingTime {
  margin: 0;
}

.price {
  color: red;
  font-weight: 500;
}

.messageIcon {
  &:hover {
    cursor: pointer;
  }
  padding: 0 8px;
}

.inputMessage {
  resize: none;
  border: none;
  padding: 4px 12px;
  border-radius: 20px !important;
  background-color: #f4f4f4 !important;
  position: relative;
  margin: 6px 0;
  width: 100%;
}

.messageSubmit {
  &:hover {
    cursor: pointer;
  }
  width: 25px;
  height: 20px;
  background-image: url('https://static.chotot.com/storage/chotot-icons/svg/send-gray.svg');
  z-index: 9;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  transform: translateY(38%);
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
