.footer {
  max-width: 960px;
  margin: auto;
  padding: 12px 8px;
}

.footer p {
  text-align: left;
  padding-left: 20px;
  font-size: 0.875rem;
  font-family: Helvetica, Arial, Roboto, sans-serif !important;
  margin-top: 0px;
  margin-bottom: 12px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  color: #222222;
  text-transform: uppercase;
}

.footer_img {
  width: 94px;
  height: 32px;
  object-fit: contain;
}

a {
  &:hover {
    cursor: pointer;
  }
  padding: 6px;
  margin: 6px;
}
