.footer {
  max-width: var(--width-browser);
  margin: auto;
  padding: 12px 8px;
}

.footer p {
  text-align: center;
  padding-left: 20px;
  font-size: 16px;
  font-family: Helvetica, Arial, Roboto, sans-serif !important;
  margin-top: 0px;
  margin-bottom: 12px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  -webkit-letter-spacing: normal;
  -moz-letter-spacing: normal;
  -ms-letter-spacing: normal;
  letter-spacing: normal;
  color: #222222;
  text-transform: uppercase;
}
.footer ul {
  padding: 0;
}
.footer ul > li{
  justify-content: center;
}

.footer_img {
  width: 94px;
  height: 32px;
  object-fit: contain;
}

.footer a {
  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }
  padding: 0;
  margin: 0;
  color: #777777;
}

.hr {
  height: 1px;
  border-top: 1px solid #e8e8e8;
  width: 100%;
  background-color: currentColor;
  border: 0;
  color: #e8e8e8;
  margin: 8px 0;
  opacity: 1;
}

.span {
  text-align: center;
  color: #777777 !important;
  width: 100%;
  padding: 8px;
}
