.search {
  background-color: aqua;
  padding: 8px 0;
  display: flex;
  justify-content: center;

}

.input {
  height: 36px;
  width: calc(100% - 52px);
  padding-left: 8px;
  margin-top: 6px;
  background-color: var(--color_gray);
  border-radius: 4px;
  border: none;
  font-size: 1.2rem;
}

.drop_down {
  // &:hover{
  //     background-color: var(--color_gray);
  // }
  background-color: var(--color_gray) !important;
  border-radius: 4px 0 0 4px !important;
}
