.changeAvatar {
  position: absolute;
  background: #4a4a4a;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 0 3px 0 rgb(0 0 0 / 20%);
  bottom: 0;
  left: 52%;
  z-index: 2;
  line-height: 52px;
  cursor: pointer;
  text-align: center;
  & > i {
    background-image: url('https://static.chotot.com/storage/CT_WEB_UNI_PRIVATE_DASHBOARD/a37e405294c593b0493765d71c6b78df682f66b3/dist/6f1c5539af2cb02a87674fedae4a12f9.svg');
    background-size: 25px 20px;
    width: 25px;
    height: 20px;
    display: inline-block;
  }
  & > input {
    display: none;
  }
}

.content_icon {
  display: block;
  height: 35px;
  line-height: 35px;
  background: #eee;
  border-radius: 4px;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  & img {
    width: 20px;
    cursor: pointer;
  }
  & button {
    background-color: #fe9900;
    color: #fff;
    border: none;
    outline: none;
    padding: 0 12px;
    border-radius: 4px;
    max-height: 24px;
    line-height: 2;
    transform: translateY(5px);
    cursor: pointer;
  }
}
